/* ====== VARIABLES ======= */
:root {
  --primary-color: #2e2f42;
  --secondary-color: #4d5ae5;
  --color-txt-button: #f4f4fd;
  --color-portfolio: #434455;
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}
/* ====== COMMON STYLES ======= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list li {
  list-style: none;
}
.link {
  text-decoration: none;
}
button,
portfolio-button {
  cursor: pointer;
}
body {
  font-family: var(--secondary-font);
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* ====== HEADER ======= */
.page-header-container {
  display: flex;
  justify-content: space-between;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  column-gap: 40px;
}
.contact-list {
  display: flex;
  column-gap: 40px;
}
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.logotype-blue {
  align-items: center;
  font-family: var(--primary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.logotype-dark {
  margin-right: 76px;
  align-items: center;
  font-family: var(--primary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.logotype-white {
  font-family: var(--primary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #f4f4fd;
}

.menu-link {
  /* Body Medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--primary-color);
}
.contact {
  font-style: normal;
}
.contact-link {
  font-size: 16px;
  /* font-style: normal; */
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--color-portfolio);
}
.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* ====== SECTION1 ======= */
.hero {
  background-color: var(--primary-color);
  margin-bottom: 60px;
}
.topic {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.top-button {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--secondary-color);
  color: #ffffff;
}
.top-button:hover,
.top-button:focus {
  background-color: #404bbf;
}
/* ====== SECTION2 ======= */
.values {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.values-list {
  display: flex;
}
/* ====== SECTION3 ======= */
.top-doing {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
  margin-bottom: 72px;
}
.doing-list {
  display: flex;
}
/* ====== SECTION4 ======= */
.team {
  background-color: #f4f4fd;
  padding-top: 50px;
}
.team-cell {
  background-color: #ffffff;
}
.team-list {
  display: flex;
}
.team-names {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.team-staff {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ====== FOOTER ======= */
.page-footer {
  background-color: var(--primary-color);
}
.description-footer {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ====== PORTFOLIO ======= */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-button {
  color: var(--secondary-color);
  background-color: var(--color-txt-button);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.portfolio-cell {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-portfolio);
}
.portfolio-buttons {
  margin-bottom: 72px;
  display: flex;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
